<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSite</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />



    <style>
        body {
            font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
            margin: 0; /* Отступы на странице */
        }

        h1 {
            font-size: 36px; /* Размер шрифта */
            margin: 0; /* Убираем отступы */
            color: #fc6; /* Цвет текста */
        }

        h2 {
            margin-top: 0; /* Убираем отступ сверху */
        }

        #header { /* Верхний блок */
            margin: auto;
            background: #00a090; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
        }

        #sidebar { /* Левая колонка */
            float: left; /* Обтекание справа */
            border: 1px solid #333; /* Параметры рамки вокруг */
            width: 20%; /* Ширина колонки */
            padding: 5px; /* Поля вокруг текста */
            margin: 10px 10px 20px 5px; /* Значения отступов */
        }

        #content { /* Правая колонка */
            margin: 10px 5px 20px 25%; /* Значения отступов */
            padding: 5px; /* Поля вокруг текста */
            border: 1px solid #333; /* Параметры рамки */
        }

        #footer { /* Нижний блок */
            background: #333; /* Цвет фона */
            padding: 5px; /* Поля вокруг текста */
            color: #fff; /* Цвет текста */
            clear: left; /* Отменяем действие float */
        }
    </style>

</head>
<body>
    <div id="bodyVueModel">
        <h1 id="companyName">{{CompanyName}}</h1>
        <div id="header" class="row">
            <div class="col">Вы вошли как: {{Name}} </div>
            <div class="col">Количество дел: {{CasesCount}} </div>
            <div class="col">Количество заметок: {{NotesCount}} </div>
        </div>
    </div>
    <div id="sidebar">
        <p><a href="Cabinet">Личный кабинет</a></p>
        <p><a href="Index">Список дел</a></p>
    </div>

    <div id="content">
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>
    <div id="footer">&copy; 2020 - Advokates CRM, Leachman Production</div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/Layout.js"></script>

